<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography |  Ethan Eisenhard </title>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
    <meta name="description"
        content="Hi! I am an artist living on the road who is dedicated to an adventurous lifestyle." />
    <meta name="author" content="Ethan Eisenhard" />
    <link rel="canonical" href="https://www.ethaneisenhard.com" />
    <link rel="alternate" href="https://www.ethaneisenhard.com" hreflang="en-us" />
    <meta itemprop="url" content="http://ethaneisenhard.com/">
    <meta property="og:site_name" content="Ethan Eisenhard" />
    <meta property="og:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1230" />
    <meta property="og:image:height" content="400" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ethaneisenhard">
    <meta name="twitter:creator" content="@ethaneisenhard">
    <meta name="twitter:title" content="Photography | Web Developer & Photographer ">
    <meta name="twitter:description" content="Hi! I am an artist living on the road who is dedicated to an adventurous lifestyle.">
    <meta name="twitter:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg">

    <link rel="stylesheet" href="https://use.typekit.net/anv0thn.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/pages/photography-gallery.css">
</head>

<body>

    {% include 'modules/slide-out-menu-background.html' %}
    
    {%  assign activePhotography = 'is-active' %}

    {% include 'modules/sidebar.liquid' %}

    
    <main class="main-grid">

        <section class="photography-gallery">
            <h1>Photography Gallery</h1>
            <p>Using natural light and urban environments, I take lifestyle, fashion, family, and graduation
                portraits. I have a keen eye for
                turning ordinary environments into new perspectives and strong detail. Traveling in the Pennsylvania and
                New York
                area, I work with families, artists, and models, to create beautiful portraits. I offers a range of
                services and packages.
                Checkout my work below.</p>
        </section>

        <section id="photos">
            <nav>
                <button data-value="portrait" class="is-active">Portrait</button>
                <button data-value="graduation">Graduation</button>
                <button data-value="landscape">Landscape</button>
            </nav>
            <section class="portrait">
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography1.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography14.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography2.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography4.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography6.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography13.jpg">
                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography24.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography12.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography11.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography7.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography15.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography16.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography27.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography17.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography19.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography28.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography25.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography3.jpg">
                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography18.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography8.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        src="/images/photography-gallery/portrait/EthanEisenhardPhotography22.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography23.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography5.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Portrait Photography"
                        data-src="/images/photography-gallery/portrait/EthanEisenhardPhotography10.jpg">
                </div>
            </section>
            <section class="graduation is-hidden">
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation1.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation2.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation25.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation26.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation28.jpg">
                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation7.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation8.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation9.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation19.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation21.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation24.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation4.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation23.jpg">

                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation11.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation6.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0"
                        src="/images/photography-gallery/graduation/EthanEisenhardGraduation5.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation22.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0"
                        data-src="/images/photography-gallery/graduation/EthanEisenhardGraduation27.jpg">
                </div>
            </section>
            <section class="landscape is-hidden">
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape24.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape18.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape7.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape5.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape9.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape4.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape12.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape22.jpg">
                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape23.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape20.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape6.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape1.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape3.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape17.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape11.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape16.jpg">
                </div>
                <div class="column">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape15.jpg">
                    <img loading="eager" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        src="/images/photography-gallery/landscape/EthanEisenhardLandscape8.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape2.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape10.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape19.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape13.jpg">
                    <img loading="lazy" class="animate-1 is-opacity-0" alt="Ethan Eisenhard Landscape Photography"
                        data-src="/images/photography-gallery/landscape/EthanEisenhardLandscape21.jpg">
                </div>
            </section>
        </section>

        {% include 'modules/mobile-nav.liquid' %}

        {% include 'modules/mobile-nav-small.html' %}

    </main>

    {% include 'modules/contact-modal.html' %}

</body>

<script>
    window.lazyLoadOptions = {
        elements_selector: "[loading=lazy]",
        use_native: true
    };
</script>

<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>

<script src="/javascript/logo-animation.js"></script>
<script src="/javascript/menu.js"></script>
<script src="/javascript/contact.js"></script>
<script src="/javascript/forms.js"></script>
<script src="/javascript/photography-animation.js"></script>

</html>