<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Portfolio</title>
    <meta name="description"
        content="For 6 years I have been developing web applications and marketing sites. Come take a look at my work!" />
    <meta name="author" content="Ethan Eisenhard" />
    <link rel="canonical" href="https://www.ethaneisenhard.com" />
    <link rel="alternate" href="https://www.ethaneisenhard.com" hreflang="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="addressLocality" content="Philadelphia">
        <meta itemprop="addressRegion" content="Pennsylvania">
        <meta itemprop="addressCountry" content="United States"></span>
    <meta itemprop="url" content="http://ethaneisenhard.com/">
    <meta itemprop="email" content="eeisen11@gmail.com">
    <meta property="og:site_name" content="Ethan Eisenhard" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title"
        content="For 6 years I have been developing web applications and marketing sites. Come take a look at my work! " />
    <meta prefix="og: http://ogp.me/ns#" property="og:description"
        content="Ethan is a freelance web developer and photographer who is dedicated to quality and original style. Learn more here!" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" style="height: auto; width: 1230px;">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://ethaneisenhard.com/">
    <meta property="og:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="business" />
    <meta property="og:image" content="http://example.com/ogp.jpg" />
    <meta property="og:image:secure_url"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1230" />
    <meta property="og:image:height" content="400" />
    <link rel="stylesheet" href="https://use.typekit.net/anv0thn.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/pages/web-portfolio.css">
    <link rel="stylesheet" href="styles/3rd-party/glide.css">
</head>

<body>

    
    {% include modules/slide-out-menu-background.html %}
    
    {% include modules/sidebar.liquid, activeProjects: 'is-active' %}

    {% include modules/menu-button.html %}

    <main class="main-grid">

        <section class="web-portfolio-text">
            <h1>Web Portfolio</h1>
            <p>For 6 years I have been developing web applications and marketing sites. Currently working for the Toll
                Brothers, I develop web sites like <a class="inline-btn" rel="noopener" target="_blank"
                    href="https://www.tollbrothers.com/">tollbrothers.com</a> and various internal web applications. I
                believe all projects start with
                communication. These days the internet is full of unwanted noise. Ads, content, social media, and
                everything
                between makes its hard to be impressive. I believe in making websites that stand out, make a statement
                and drive more business. Your website is the portal to your audience, it should tell your story in a way
                that reflects your brand and helps users find what they are looking for. Below you can find my work.</p>
        </section>

        <section class="web-portfolio-grid">
            <div class="web-portfolio-site">
                <h3>Toll Brothers</h3>
                <div class="web-portfolio-site-details">
                    <div class="web-portfolio-site-img-container">
                        <div class="web-portfolio-site-img tollbrothers">

                        </div>
                    </div>
                    <div class="web-portfolio-site-text">
                        <p>"You can see it in the details and feel it in the craftsmanship from the moment you walk into
                            a Toll Brothers home: this is where form meets function in exquisite fashion."</p>
                        <a href="https://www.tollbrothers.com/" target="_blank" rel="noopener">Visit Website

                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="external-link w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14">
                                </path>
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <div class="web-portfolio-site">
                <h3>Tassajara Hills</h3>
                <div class="web-portfolio-site-details ">
                    <div class="web-portfolio-site-img-container">
                        <div class="web-portfolio-site-img TassajaraHills">
                        </div>
                    </div>
                    <div class="web-portfolio-site-text">
                        <p>"A private haven just minutes from any convenience you may need. With resort-style amenities,
                            beautiful trails with breathtaking views of the hills, and nearby shopping and dining, you
                            can live a luxurious life that’s stress free and tranquil."</p>
                        <a href="https://www.tassajarahills.com/" target="_blank" rel="noopener">Visit Website


                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="external-link w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14">
                                </path>
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
            <div class="web-portfolio-site">
                <h3>Hampden Row</h3>
                <div class="web-portfolio-site-details">
                    <div class="web-portfolio-site-img-container HampdenRow"">
                        <div class = " web-portfolio-site-img HampdenRow">

                    </div>
                </div>
                <div class="web-portfolio-site-text">
                    <p>"Hampden Row, an intimate collection of luxury residences, is as coveted as the city itself. The
                        condominium takes its inspiration from the vibrant cityscape and delivers exclusivity in a home
                        that revolves around you."</p>
                    <a href="https://www.hampdenrow.com/" target="_blank" rel="noopener">Visit Website

                        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="external-link w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
                        </svg>

                    </a>
                </div>
            </div>
            </div>
            <div class="web-portfolio-site">
                <h3>121e22nd</h3>
                <div class="web-portfolio-site-details">
                    <div class="web-portfolio-site-img-container ">
                        <div class="web-portfolio-site-img tb121e22nd">

                        </div>
                    </div>
                    <div class="web-portfolio-site-text">
                        <p>"Located at the crossing of the Gramercy Park and Flatiron neighborhoods, the 18-story
                            building offers 140 residences with diverse layouts, a contemporary aesthetic, and a wide
                            array of amenities"</p>
                        <a href="https://www.121e22nd.com/" target="_blank" rel="noopener">Visit Website

                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="external-link w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14">
                                </path>
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
        </section>

        {% include modules/mobile-nav.html %}

        {% include modules/mobile-nav-small.html %}

    </main>

    {% include modules/contact-modal.html %}

</body>

<script src="/javascript/logo-animation.js"></script>
<script src="/javascript/menu.js"></script>
<script src="/javascript/contact.js"></script>
<script src="/javascript/forms.js"></script>

</html>