<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Portfolio</title>
    <meta name="description"
        content="For 6 years I have been developing web applications and marketing sites. Come take a look at my work!" />
    <meta name="author" content="Ethan Eisenhard" />
    <link rel="canonical" href="https://www.ethaneisenhard.com" />
    <link rel="alternate" href="https://www.ethaneisenhard.com" hreflang="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="addressLocality" content="Philadelphia">
        <meta itemprop="addressRegion" content="Pennsylvania">
        <meta itemprop="addressCountry" content="United States">
    </span>
    <meta itemprop="url" content="http://ethaneisenhard.com/">
    <meta itemprop="email" content="eeisen11@gmail.com">
    <meta property="og:site_name" content="Ethan Eisenhard" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title"
        content="For 6 years I have been developing web applications and marketing sites. Come take a look at my work! " />
    <meta prefix="og: http://ogp.me/ns#" property="og:description"
        content="Ethan is a freelance web developer and photographer who is dedicated to quality and original style. Learn more here!" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" style="height: auto; width: 1230px;">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://ethaneisenhard.com/">
    <meta property="og:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="business" />
    <meta property="og:image" content="http://example.com/ogp.jpg" />
    <meta property="og:image:secure_url"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1230" />
    <meta property="og:image:height" content="400" />
    <link rel="stylesheet" href="https://use.typekit.net/anv0thn.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/pages/web-portfolio.css">
    <link rel="stylesheet" href="styles/3rd-party/glide.css">
</head>

<body>


    {% include modules/slide-out-menu-background.html %}

    <!-- Set active Nav -->
    <!-- {% assign activeProjects = 'is-active' %} -->
    {% include modules/sidebar.liquid %}

    {% include modules/menu-button.html %}

    <main class="main-grid">

        <section class="web-portfolio-text">
            <h1>Header</h1>
            <p>Paragraph</p>
        </section>

        <section class="">
            
        </section>

        {% include modules/mobile-nav.liquid %}

        {% include modules/mobile-nav-small.html %}

    </main>

    {% include modules/contact-modal.html %}

</body>

<script src="/javascript/logo-animation.js"></script>
<script src="/javascript/menu.js"></script>
<script src="/javascript/contact.js"></script>
<script src="/javascript/forms.js"></script>

</html>