<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethan Eisenhard | Web Developer & Photographer </title>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/favicon.ico">
    <meta name="description"
        content="Hi! I am an artist living on the road who is dedicated to an adventurous lifestyle." />
    <meta name="author" content="Ethan Eisenhard" />
    <link rel="canonical" href="https://www.ethaneisenhard.com" />
    <link rel="alternate" href="https://www.ethaneisenhard.com" hreflang="en-us" />
    <meta itemprop="url" content="http://ethaneisenhard.com/">
    <meta property="og:site_name" content="Ethan Eisenhard" />
    <meta property="og:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1230" />
    <meta property="og:image:height" content="400" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ethaneisenhard">
    <meta name="twitter:creator" content="@ethaneisenhard">
    <meta name="twitter:title" content="Ethan Eisenhard | Web Developer & Photographer ">
    <meta name="twitter:description" content="Hi! I am an artist living on the road who is dedicated to an adventurous lifestyle.">
    <meta name="twitter:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg">
        
    <link rel="stylesheet" href="https://use.typekit.net/anv0thn.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/pages/web-portfolio.css">
</head>

<body>


    {% include 'modules/slide-out-menu-background.html' %}

    <!-- Set active Nav -->
    <!-- {% assign activeProjects = 'is-active' %} -->
    {% include 'modules/sidebar.liquid'%}

    <main class="main-grid">

        <section class="web-portfolio-text">
            <h1>Header</h1>
            <p>Paragraph</p>
        </section>

        <section class="">
            
        </section>

        {% include 'modules/mobile-nav.liquid' %}

        {% include 'modules/mobile-nav-small.html' %}

    </main>

    {% include 'modules/contact-modal.html' %}

</body>

<script src="/javascript/logo-animation.js"></script>
<script src="/javascript/menu.js"></script>
<script src="/javascript/contact.js"></script>
<script src="/javascript/forms.js"></script>

</html>