.overview-greeting {
    display: flex;
    border: 1px solid black;
    margin: 16px;
    border-radius: 8px;
    background-color: #293e6a;
    overflow: hidden;
    height: 77vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23dad8e4'/%3E%3Cstop offset='1' stop-color='%23293e6a'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23828ba7'/%3E%3Cstop offset='1' stop-color='%23293e6a'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
}

@media only screen and (max-width: 900px) {
    .overview-greeting {
        flex-flow: column;
        height: 78vh;
        background-attachment: fixed;
        background-size: cover;
    }
}

.overview-text {
    margin: auto;
    color: white;
    filter: drop-shadow(-2px 7px 10px rgba(100, 100, 100, 0.5));
}

@media only screen and (max-width: 1200px) {
    .overview-text {
        margin-left: 2em;
    }
}

@media screen and (max-width: 900px) {
    .overview-text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: auto;
        right: 2em;
        top: 1em;
        position: relative;
        height: 30vh;
    }
}

@media only screen and (max-width: 680px) {
    .overview-text {
        text-align: center;
        margin: auto;
        position: relative;
        right: auto;
        top: auto;
        height: auto;
        padding: 16px;
    }
}

.overview-text h1 {
    margin-bottom: .5em;
}

.overview-text p {
    font-size: 24px;
    margin-bottom: 1em;
}

.overview-text form {
    display: flex;
    align-items: center;
    width: 120%;
}

@media only screen and (max-width: 680px) {
    .overview-text form {
        width: auto;
    }
}

.overview-text form input {
    font-size: 24px;
    width: 100%;
    height: 60px;
}

.overview-photo img {
    width: auto;
    height: 200px;
}

.overview-photo {
    position: relative;
    width: 50%;
    height: 600px;
    margin: auto;
    margin-right: 0;
}

@media only screen and (max-width: 900px) {
    .overview-photo {
        display: grid;
        width: 80%;
        height: 40vh;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media only screen and (max-width: 680px) {
    .overview-photo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.hexagon {
    display: flex;
    position: absolute;
    filter: drop-shadow(-2px 7px 10px rgba(100, 100, 100, 0.5));
    border-radius: 4px;
}

.hexagon img {
    position: relative;
    height: 100%;
    margin: auto;
    border-radius: 4px;
    max-width: none;
}

.hexagon.-big {
    height: 15rem;
    width: 15rem;
}

.hexagon.-normal {
    height: 10rem;
    width: 10rem;
}

.hexagon.-small {
    height: 6rem;
    width: 6rem;
}

.hexagon:nth-of-type(1) {
    top: 3rem;
    left: 5rem;
}

.hexagon:nth-of-type(2) {
    top: 11rem;
    left: 18rem;
}

.hexagon:nth-of-type(3) {
    top: 0;
    left: 19rem;
}

.hexagon:nth-of-type(4) {
    top: 22rem;
    left: 10rem;
}

.hexagon:nth-of-type(5) {
    top: 27rem;
    left: 20rem;
}

.hexagon:nth-of-type(6) {
    top: 30rem;
    left: 4rem;
}

.hexagon:nth-of-type(7) {
    top: 10rem;
    left: 30rem;
}

.hexagon:nth-of-type(8) {
    top: 1rem;
}

.hexagon:nth-of-type(9) {
    top: 23rem;
    left: 31rem;
}

@media only screen and (max-width: 900px) {
    .hexagon {
        height: auto;
        width: auto;
    }

    .hexagon {
        height: auto;
        width: auto;
        position: relative;
        filter: drop-shadow(-2px 7px 10px rgba(100, 100, 100, 0.5));
        border-radius: 4px;
        padding: 10px;
    }

    .hexagon.-big {
        height: 200px;
        width: auto;
    }

    .hexagon.-normal {
        height: 200px;
        width: auto;
    }

    .hexagon.-small {
        height: 100px;
        width: auto;
    }

    .hexagon:nth-of-type(1) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(2) {
        display: none;
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(3) {
        top: auto;
        left: auto;
        display: none;
    }

    .hexagon:nth-of-type(4) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(5) {
        top: auto;
        left: auto;
        ;
    }

    .hexagon:nth-of-type(6) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(7) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(8) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(9) {
        top: auto;
        left: auto;
    }
}

@media only screen and (max-width: 680px) {
    .hexagon:nth-of-type(1) {
        display: none;
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(2) {
        display: none;
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(4) {
        grid-area: 1 / 1 / 2 / 3;
        top: auto;
        left: auto;
        height: 150px;
    }

    .hexagon:nth-of-type(5) {
        display: none;
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(6) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(7) {
        display: none;
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(8) {
        top: auto;
        left: auto;
    }

    .hexagon:nth-of-type(9) {
        top: auto;
        left: auto;
    }
}

@media only screen and (max-width: 320px) {
    .hexagon:nth-of-type(4) {
        height: 200px;
    }

    .hexagon:nth-of-type(6) {
        display: none;
    }

    .hexagon:nth-of-type(8) {
        display: none;
    }
}

.overview-content {
    display: flex;
    margin: 16px;
    border-radius: 8px;
    border: 1px solid #dad8e4;
    padding: 1em;
}

.overview-social {
    display: flex;
    flex-flow: column;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .overview-content {
        flex-flow: column;
    }

    .overview-social {
        width: 100%;
    }
}

.overview-social header {
    display: flex;
    padding: 1em;
}

.overview-social footer {
    padding: 1em;
}

.overview-social footer .btn {
    border-radius: 4px;
    border: none;
}

.overview-social header svg,
.overview-social header img {
    display: block;
    height: 30px;
    margin: auto;
}

.overview-social-middle {
    padding: 1em;
    flex: 1;
}

.overview-youtube {}

.overview-podcast {}