<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hi! I am a web developer and photographer based out of Philadelphia who is dedicated to quality and original work." />
    <meta name="author" content="Ethan Eisenhard" />
    <link rel="canonical" href="https://www.ethaneisenhard.com" />
    <link rel="alternate" href="https://www.ethaneisenhard.com" hreflang="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="addressLocality" content="Philadelphia">
        <meta itemprop="addressRegion" content="Pennsylvania">
        <meta itemprop="addressCountry" content="United States"></span>
    <meta itemprop="url" content="http://ethaneisenhard.com/">
    <meta itemprop="email" content="eeisen11@gmail.com">
    <meta property="og:site_name" content="Ethan Eisenhard" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title"
        content="Ethan Eisenhard | Web Developer. Photographer. Philadelphia | " />
    <meta prefix="og: http://ogp.me/ns#" property="og:description"
        content="Ethan is a freelance web developer and photographer who is dedicated to quality and original style. Learn more here!" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" style="height: auto; width: 1230px;">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://ethaneisenhard.com/">
    <meta property="og:image"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="business" />
    <meta property="og:image" content="http://example.com/ogp.jpg" />
    <meta property="og:image:secure_url"
        content="http://ethaneisenhard.com/Images/photography-gallery/landscape/EthanEisenhardLandscape25.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1230" />
    <meta property="og:image:height" content="400" />
    <link rel="stylesheet" href="https://use.typekit.net/anv0thn.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/side-bar.css">
     <link rel="stylesheet" href="/styles/pages/blog.css">
</head>

<body>

    {% include modules/slide-out-menu-background.html %}

    {% include modules/sidebar.html %}

    {% include modules/menu-button.html %}

    <main class="main-grid">

        <section>
            {{content}}
        </section>

        {% include modules/mobile-nav.html %}
    
        {% include modules/mobile-nav-small.html %}

    </main>

    {% include modules/contact-modal.html %}

</body>

<script src="/javascript/logo-animation.js"></script>
<script src="/javascript/menu.js"></script>
<script src="/javascript/contact.js"></script>
<script src="/javascript/forms.js"></script>

</html>