h1 {
    font-family: "Rig Bold Face", sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: center;
    font-weight: normal;
    color: #293e6a;
    height: fit-content;
    margin-bottom: 1em;
    grid-area: 1 / 1 / 2 / 3;
}

@media only screen and (max-width: 1000px){
   h1{
    font-size: 4vh;
   }
}

h1:before,
h1:after,
h1 span:before,
h1 span:after {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: normal;
    text-shadow: none;
    z-index: 0;
}

h1:before {
    color: #fff;
    font-family: "Rig Bold Inline", sans-serif;
}

h1:after {
    font-family: "Rig Bold Coarse", sans-serif;
    color: #040351;
}

span::before {
    font-family: "Rig Bold Shadow", sans-serif;
    color: #cbc7e3;
    z-index: -1;
}

span::after {
    font-family: "Rig Bold Extrude", sans-serif;
    color: #7e8ba5;
    z-index: -1;
}

@font-face {
    font-family: "Rig Bold Coarse";
    src: url("CSS/font/Rig-BoldCoarse.otf")
}

@font-face {
    font-family: "Rig Bold Extrude";
    src: url("CSS/font/Rig-BoldExtrude.otf");
}

@font-face {
    font-family: "Rig Bold Shadow";
    src: url("CSS/font/Rig-BoldShadow.otf");
}

@font-face {
    font-family: "Rig Bold Face";
    src: url("CSS/font/Rig-BoldFace.otf");
}

@font-face {
    font-family: "Rig Bold Inline";
    src: url("CSS/font/Rig-BoldInline.otf");
}

html {
    font-family: Futura;
    color: #293e6a;
}

body{
    height: 98vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media only screen and (max-width: 1000px){
    body{
        height: auto;
    }
}

header{
    display: flex;
    position: relative;
    top: -.5em;
}

@media only screen and (max-width: 1200px){
    header{
        display: flex;
        position: relative;
        top: 2em;
        margin-bottom: 2em;
    }
}

.contact {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

main {
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

@media only screen and (max-width: 1000px){
    main {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    width: 49.9%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1000px){
    section {
        width: 100%;
        margin: .5em 0em;
    }
}

.photography{
    background-image: url("../WebsitesImages/alaska-3.jpg");
}

.web-development{
    background-image: url("../WebsitesImages/tollbrothers.jpg");
}

article {
    display: flex;
    flex-flow: column;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0em 8em;
    padding: 1em;
    color: white;
    background-color: rgb(126, 139, 165, .7);
}

article .portrait {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 8px;
}

@media only screen and (max-width: 1200px){
    article{
        margin: 4em 4em; 
    }
}

svg {
    display: block;
    margin: 0 auto;
    height: 100px;
}

p {
    flex-grow: 1;
}

main a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em 0em;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #293e6a;
}

footer{
    margin-top: 2em;
}

.social-container {
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #857ea5, #293E6A);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #293E6A;
    background: -webkit-linear-gradient(45deg, #857ea5, #293E6A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;