.side-bar{
    position: fixed;
    top: 0;
    width: 46vw;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    border-right: 4px solid #dad8e4;
    height: 100vh;
    padding: 16px 0px 16px 0px;
    padding-bottom: 0px;
    color: #293e6a;
    background: white;
    z-index: 3;
    transform: translateX(-100%);
}

.side-bar.is-open{
    transform: translateX(0%);
}

.side-bar.animate-transform{
    transition: transform 500ms ease-out;
}

.side-bar.is-open .side-bar-nav-link{
    flex-flow:row;
}

.side-bar.is-open .side-bar-nav-link svg{
    margin-bottom: 0em;
}

.side-bar-nav-link{
    padding: 10px 1em;
}

@media only screen and (min-width: 1220px){
    .side-bar{
        position: relative;
        transform: translateX(0);
        width: 22vw;
        /* transition: transform 500ms ease-out; */
    }
}

@media only screen and (max-width: 900px){
    .side-bar{
        width: 56vw;
    }
}

@media only screen and (max-width: 700px){
    .side-bar{
        width: 100vw;
    }
}

.side-bar-logo{
    display: flex;
    align-items: center;
    margin: 0px 16px;
 }
 
 @media only screen and (max-width: 374px){
    .side-bar-logo{
        flex-flow:column;
        align-items: flex-start;
     }
      
 }

.side-bar-logo span{
   font-size: 32px;
   margin-left: 10px;
   line-height: 36px;
}

.side-bar-logo svg{
    height: auto;
    width: 40px;
    display: none;
}

.side-bar-close-menu{
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 374px){
    .side-bar-close-menu{
        display:none;
    }
}

.side-bar-nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.side-bar-nav-link{
    display: flex;
    align-items: center;
    margin: 14px 0px;
    padding: 12px 3px 12px 16px;
    line-height: 22px;
    font-size: 16px;
    color:rgba(41,62,106, 1);
    transition: transform 500ms ease-out;
}

.side-bar-nav-link:hover{
    transform: scale(1.06);
}

.side-bar-nav-link img{
    width: 20px;
    margin: 0px 16px 0px 8px;
}

.side-bar-nav-link svg{
    fill: #293e6a;
    width: 20px;
    margin: 0px 16px 0px 8px;
    height: 20px;
    overflow: visible;
}


.side-bar .side-bar-nav-link.is-active{
    background-color: #293e6a;
    color: white;
}

.side-bar .side-bar-nav-link.is-active svg{
    fill: white;
}

.side-bar-nav-link svg path{
    transition: fill 80ms ease-in;
}

.side-bar-contact{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 18px;
    border-radius: 8px 8px 0px 0px;
    background-color:#E2EFF9;
    padding: 0px 16px 10px 16px;
    margin: 0px 16px;
    border: none;
    cursor: pointer;
}

.side-bar-contact-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    top: -35px;
}

@media only screen and (max-width: 374px){
    .side-bar-contact-container{
        top: 0px;
    }  
}

.side-bar-contact-text p{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    top: -4px;
    font-weight: 600;
}

.side-bar-contact-text span{
    display: block;
    font-size: 16px;
}

.side-bar-contact-text span:nth-child(2){
    margin-bottom: 20px;
}

.side-bar-contact svg{
    /* position: relative; */
    fill: #293e6a;
    width: 100px;
    height: 100px;
    overflow: visible;
}

/* @media only screen and (max-width: 1200px){
    .side-bar-nav-link{
        flex-flow: column;
        text-align: center;
        padding-right: 1em;
    }

    .side-bar-nav-link svg{
        margin-bottom: .5em;
    }
} */

@media only screen and (max-width: 374px){  
    .side-bar-nav-link{
        font-size: 16px;
        padding: 3px 1em 3px 0px;
        margin: 10px 0px;
    }
}

.slide-out-menu-background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms ease-out;
}