<section class="contact-modal js-contact-modal is-hidden">
  <section class="contact-modal-wrapper js-contact-modal-wrapper is-opacity-0">
    <section class="contact-modal-text">
      <button class="js-contact close-contact-modal btn btn-close">
        CLOSE
      </button>
      <h3>Hope you are having a great day!</h3>
      <p>Send me a message and I will get back you.</p>

      <form name="new-contact" method="POST" data-netlify="true">
        <p>
          <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>

      <!-- <section class="contact-modal-form">
        <form id="contact-form" name="contact" method="POST" data-netlify="true">
          <div class="input-wrap">
            <label for="name">Name</label>
            <input type="text" id="name" required />
          </div>
          <div class="input-wrap">
            <label for="email">Email</label>
            <input type="email" id="email" required />
          </div>

          <label for="contact-message"></label>
          <textarea name="contact-message" rows="10" placeholder="" required></textarea>
          <button type="submit" class="btn btn-contact-submit">Send</button>
        </form>
      </section> -->
    </section>
  </section>

  <section class="contact-modal-background js-contact js-contact-modal-background is-hidden"></section>
</section>