html{
}

body{
    margin: 0;
    padding: 0;
}

.lazy{
    width: 100%;
    height: auto;
    background-color: lightgrey;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.w3-white{
   
}

.w3-container{
    text-align: center;
    
}

.work-header{
    font-weight: 300;
    color: #d11141;
}

.desc {
    margin: 10px 30px 30px 30px;
}

.nav_gallery{
    display: flex;
    width: auto;
    justify-content: center;
}

.nav_gallery div{
    padding: 10px;
    color: white;
    background:#d11141;
    width: 33%;
    text-align: center;
    cursor: pointer;
    
}

.nav_gallery div:nth-child(2){
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.row.portrait_imgs, .row.landscape_imgs{
    display:none;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;

}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    background: white; 
    color: white;
}

#footerload{
    margin: 20px 0px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    #footerload{
        margin-top: 10px;
    }

    .story-column{
        margin-top: 15px;
    }
}
