html{
}

body{
    margin: 0;
    padding: 0;
}

.lazy{
    width: 100%;
    height: auto;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.w3-white{
   
}

.w3-container{
    text-align: center;
    
}

.work-header{
    font-weight: 300;
    color: #d11141;
}

.desc {
    margin: 10px 30px 30px 30px;
}